ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

header{
    height: 20%;
    width: 100%;
    background-color: firebrick;
}


#center{
    background-color: blueviolet;
    float: left;
    width: 20%;
    height: 80%;
}

#rightcolumn{
    background-color: forestgreen;
    float: left;
    width: 40%;
    height: 80%;;
}
footer{
    height: 20%;
    width: 100%;
    clear: both;
    background-color: burlywood;
}

#logout{
    float: right;
}

.message_div{
    
    height: 200px;
    
}

#text_area{
    display: block;
    align-content: center;
    align-self: center;
}

#leftcolumn{
    background-color: yellow;
    float: left;
    height: 80%;
    width: 40%;
}

html{
    height: 100%;
}

body{
    height: 80%;
}